footer {
  background: linear-gradient(135deg, #ffc001 0%, #db360d 100%);
  color: white;
}

:root {
  --primary-color: rgb(129, 122, 22);
  --secondary-color: #fff59d;
  --accent-color: #ffc107;
  --light-color: #FFF8DC;
  --dark-color: #654321;
}

.carousel-item img {
  height: 400px;
  object-fit: contain;
  background-color: #000000; /* opcional, rellena el espacio vacío */
}
